// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
$first-font: 'Roboto';

// colors
$header-color: #333333;
$header-text: #fff;
$selected-color: #6eb5ff;

// gutters
$small_gutter: 0.5rem;
$medium-gutter: 1rem;
$large-gutter: 1.5rem;

// font size
$small_text: 1rem;
$medium-text: 1.3rem;
$large-text: 2.5rem;
