@use 'src/styles/vars';

.header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: vars.$medium-gutter 0;
  background-color: vars.$header-color;
  color: vars.$header-text;
  font-family: vars.$first-font, sans-serif;
  &__title{
    font-size: vars.$large-text;
  }
  &__nav{
    display: flex;
    &__item{
      font-size: vars.$medium-text;
      padding: 0 vars.$small-gutter;
      & a{
        padding: vars.$small-gutter;
      }
    }
  }
  &__back{
    font-size: vars.$medium-text;
  }
  &__selected{
    background-color: vars.$selected-color;
  }

}
